<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title> 실 </title>
    <link rel="stylesheet" type="text/css" href="/static/css.css">
</head>

<body>
    <div class="header">
        <div class="btn1">
            <a href="/fakebook/new/">
            <img src="/static/ic_pencil.jpg" width="22px" style="margin:9px 0 0 13px;">
            </a>
        </div>
        <div class="search">
            <input type="text" class="searchbar" placeholder="Search">
        </div>
        <div class="btn2"><img src="/static/ic_info.jpg" width="22px" style="margin:9px 13px 0 0"></div>
    </div>

    <div class="container">
        <h3> {{ fmsg }} </h3>
        <a href = "javascript:history.back()"> 이전 페이지로.. </a>
    </div>

    <div class="footer">
        <div class="tab1"><a href="/fakebook/newsfeed/"><img src="/static/ic_feed.jpg" width="22px" style="margin-top :15px;"></a></div>
        <div class="tab2"><img src="/static/ic_person.jpg" width="20px" style="margin-top : 14px;"></div>
        <div class="tab3"><img src="/static/ic_globe.jpg" width="20px" style="margin-top : 14px;"></div>
        <div class="tab4"><img src="/static/ic_etc.jpg" width="20px" style="margin-top : 14px;"></div>
    </div>
</body>

</html>
